html {
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #000000;
  background-color: #bebebe;
  margin: 0;
  padding: 0px 20px 20px 20px;
  height: 100%;
  /* margin-left: 3em ;
  margin-right: 3em ; */
}

samp {
  font-size: 1.3em;
}

a {
  color: #bebebe;
  background-color: #bebebe;
}

sup a {
  text-decoration: none;
}

hr {
  margin-left: 90px;
  height: 1px;
  color: #000000;
  background-color: #000000;
  border: none;
}

header {
  height: 3em;
}

/********************* ADD SPEAKER  **********************/
#add-speaker {
  height: 3em;
  margin-top: -4.5em;
  width: 10em;
  margin-right: 5.5em;
  float: right !important;
  background-color: green;
  font-size: 22px;
  border-radius: 25px;
}

#speakers {
  text-align: center;
  margin-right: 5em;
}
#add-speaker:hover {
  border-radius: 25px;
  background-color: yellowgreen;
}

#add-speaker:active {
  border-radius: 25px;
  background-color: yellowgreen;
}

/********************* ADD SPEAKER  **********************/
/*********************  MAIN PANNEL **********************/

#main-pannel-header {
  font-size: 40px;

  /* background-color: darkgoldenrod l */
  /* display: flex ; */
  /* justify-content: center ; */
}

#main-pannel {
  width: 70%;
  height: 100%;
  float: left;
  overflow: scroll;
}

#main-pannel > h1 {
  text-align: center;
  /* display: inline; */
  /* margin-left: -15em ; */
}

#actionButton {
  margin-top: -18em;
  display: flex;
  flex-direction: column;
  width: 15.4em;
  background-color: #bebebe;
  float: right;
  height: 17em;
  border-radius: 25px;
  margin-right: 8.5em;
}
#attend {
  height: 50%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
#attend:hover {
  background-color: greenyellow;
}
#dismiss {
  height: 50%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  /* float: right; */
}
#dismiss:hover {
  background-color: orange;
}

/*********************  MAIN PANNEL **********************/
/*********************  TUTORIAL TEMPLATE **********************/

#description {
  text-overflow: ellipsis;
  width: auto;
  overflow: hidden;
  /* tryina make description look good */
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black ;


  /* hides default textarea look */
  border: hidden ;
  resize: none;

  /* Required for text-overflow to do anything */
  white-space: normal; /* nowrap */
}

#tutorial-info {
  display: flex;
  flex-direction: column;
  text-align: left !important;
  padding-left: 3.2em !important ;
}

#tutorial-info > b {
  margin-bottom: 0.5em;
  text-align: left;
}

.tutorial-template {
  position: relative; /*without this the tutorials stack on top of eachother and are not visible*/
  width: 60%;
  display: block;
  flex-direction: column;
  height: 15em;
  border-radius: 25px;
  padding: 1em 1em;
  margin: 1em 5em 1em 8.5em;
  background-color: white;
}

.tutorial-template > img {
  width: 19em;
  height: 15em;
  float: left;
  border-radius: 25px !important;
}

.tutorial-template > h2 {
  margin-right: -3em !important ;
}

/*********************  TUTORIAL TEMPLATE **********************/

/*********************  SIDE PANNEL **********************/

#side-pannel {
  width: 30%;
  background-color: rgb(199, 168, 68);
  height: 100%;
  float: right;
  overflow: scroll;
}

#side-pannel > h1 {
  text-align: center;
}

/*********************  SIDE PANNEL **********************/

/*********************  MAIN LAYOUT **********************/

#main {
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  background-color: gray;
  position: fixed;
  overflow: scroll;
}

#title {
  margin-left: 1.5em;
  margin-right: 1em;
  font-size: 32px;
  margin-top: 15px;
  position: fixed;
  font-style: italic;
}

#logo {
  margin-top: 3px ;
  width: 3em;
  height: 4em;
  position: fixed;
}

.text {
  width: 80%;
  margin-left: 90px;
  line-height: 140%;
}

#menu {
  position: fixed;
  margin: 0em auto 0 auto;
  display: flex;
  overflow: hidden;
  height: 9em;
}

#menu > a {
  color: black ;
  text-decoration: none;
  font-size: 30px;
  list-style-type: none;
  width: 9em;
  margin: 0.3em auto 0 auto;
  text-align: center;
}

#menu > a:hover {
  background-color: gray;
  line-height: 6em;
  margin-top: -2em;
}

#logo-section {
  float: left;
  display: flex;
}
#menu-section {
  margin-left: 10em;
  float: left;
}

#menu-sm {
  display: none ; 
  visibility: hidden ;
}

/*********************  MAIN LAYOUT **********************/

/* MEDIA QUERIES */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  

  #main-pannel {
    width: 70% ;
  }

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {



}
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    height: 8em !important;
  }

  /**********************  mobile menu styles  **********************/

  #main {
    z-index: 0 ;
  }
  #myLinks {
    display: none;
    background-color: gray !important;
    height: auto;
    width: 100% ;
    float: right ;
    margin-top: 10em ;
    position: relative;
    z-index: 10 ;
  }

  #hamburger-menu {

    margin-right: .5em ;
    margin-top: .5em ;
    color: black !important;
    height: 17em ;
    position: fixed ;
    display: block ;
    right: 0 ;
    top: 0 ;

  }


  #myLinks > a {
    color: black;
    margin: 5px 0 5px 0 ;
    /* height: 3em ; */
  /* padding: 14px 16px; */
  text-align: center ;
  text-decoration: none!important;
  font-size: 5em;
  display: block;

  }
/* 
  #myLinks > a:hover {
    background-color: #b0b0b0 ;
  } */

  #menu-sm {
    display: block ; 
    visibility: visible ;
  }

  #menu {
    display: none ; 
    visibility: hidden ;
  }

    /*********************  mobile menu styles  *********************/
  
  #logo {
    height: 9em ;
    width: 7em ;
  }

  #title {
    font-size: 6em ;
    margin-left: 1em ;
    margin-top: 15px ;
    /* width:  */
  }

  #speakers {
    margin-right: 2em;
    font-size: 1.5em;
  }

  #side-pannel {
    display: none !important;
    visibility: hidden !important;
  }
  #main-pannel {
    width: 100%;
  }

  .tutorial-template {
    margin-left: 1em;
    width: 75%;
    /* margin-right: 3em ; */
    height: 20em;
  }

  #actionButton {
    margin-top: -23em;
    height: 22em;
    width: 18%;
    margin-right: 1em;
    margin-left: 4em;
  }

  #add-speaker {
    margin-right: 12px;
    margin-top: -6em;
    width: 8em;
    height: 5em;
  }
}
