#add-speaker-modal {
  display: none ;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}


/* The Close Button */
#close-modal {
  color: #aaaaaa;
  float: right;
  margin-top: -4.5em ;
  font-size: 28px;
  font-weight: bold;
}

#close-modal:hover,
#close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modal-header > h2 {
/* background-color: red ; */

width: 70%;
margin-top: 0em ;

}

/* #speaker-information-form > table > tr{
  float: right;
} */

#add-speaker-form {
  font-size: 20px !important;
}

#add-speaker-form > input {
  width: 80% ;
  height: 2em;
  margin-top: 1em ;
  margin-bottom: 1em ;
}
#add-speaker-submit {
  margin: 3em auto 0 auto ;
  width: 40%  ;
  height: 3em ;
}

#add-speaker-form > footer {
  display: flex ;
  justify-content: center ;
}

#event-description-cell {
  margin-top: 1em ;
  resize: none;

 /* padding-bottom: 10em !important; */
}